.navbar{
    background-color: rgb(134, 2, 2);
    
}

.images{
    width: 95%;
}

p {
    font-size: 24px;
  }
p2 {
    font-size: 24px;
  }
p3 {
    font-size: 24px;
  }
p4 {
    font-size: 24px;
  }
  p5 {
    font-size: 24px;
  }
p6 {
    font-size: 24px;
  }
p7 {
    font-size: 24px;
  }
p8 {
    font-size: 24px;
  }
